.login_page {
  background-image: url("https://wallpaperaccess.com/full/1586344.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.dishes {
  background-image: url("https://wallpaperset.com/w/full/8/8/0/462749.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
