.login_page {
  /* background-image: url("https://c8.alamy.com/zooms/9/3450739daef748d581e5d7fcf7425d72/my6f0y.jpg"); */
  background-image: url("https://wallpaperaccess.com/full/1586344.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* .login_form {
  background-color: rgba(0, 0, 0, 0.9);
} */
